
*{box-sizing: border-box;}
html,body{height:100%;}
body{

	background: url("bg.jpg") no-repeat;			
	background-image: url("bg.jpg");
	background-repeat:no-repeat;

	background-size: cover;
	color: #c9cdd3;
	font-family: Arial;
	margin:0px;

	background-attachment: fixed;
}
h1{
	text-align: center;

}
h5{
	text-align: center;
}


.btn-container button {
	background:transparent;
	border: none;
	color: #c9cdd3;
	font-family: Arial;
	font-size: 20px;
	text-decoration: underline;

}

.btn-container a:visited{
	color: green;
}

.btn-container a:link{
	color: green;
}

.btn-container a:hover{
	font-size: 25px;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
.btn-container{
	float: right;
}
.cta{
	width: 25%;
	display: inline-block;
	height: 40px;
	margin-left: -10px;
	padding-left: 10px;
	line-height: 40px;
}

button:hover{
	color: green;

}


.navigation{
	position: relative;
	width: 75%;
	display: inline-block;
	


}
.category {
	position: relative;
	text-align: center;
	margin-top: 50px;

}
.category select{
	background:transparent;
	border: 1px solid #ccc;
	color: red;


}
.gameCategory {
	position: relative;
	text-align: center;
	margin-top: 50px;

}

.header,.details_header{
	position: relative;
	margin-top: 50px;
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;			
}

.navigation ul::before,.navigation ul::after{
	content: "";
	display: table;
	clear: both;
}

.navigation ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.navigation li{

	float: left;
	width: 150px;
	height: 40px;
	background-color: black;
	opacity: .6;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
}

.navigation ul li a{

	text-decoration: none;
	color: white;
	display: block;
}

.navigation ul li a:hover{
	background-color:green;
}


.navigation ul li ul li{
	display: none;

}

.navigation ul li:hover ul li{
	display: block;
}

.navigation ul li ul li a:hover{
	background-color: red;
}

p{
	display: inline-block;
	text-align: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	color: yellow;
	font-weight: bold;

}
.custom-dropdown ul li {
	display: none;
}





.searchbar{
	position: relative;
	margin-top: 15px;
	width: 10%;
	margin-left: auto;
	margin-right: auto;

}

.drop-btn{
	width: 7%;
	border: 2px solid black;

}

.form{
	
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display:block;

}
